body {
  background: none repeat scroll 0 0 #F5F5F5;
}


a {
  color: #399AE5;
  text-decoration: none;
}

input.form-submit,
a.button {
  background: #CCC url(../images/buttons.png) 0 0 repeat-x;
  border: 1px solid #e4e4e4;
  border-bottom: 1px solid #b4b4b4;
  border-left-color: #d2d2d2;
  border-right-color: #d2d2d2;
  color: #3a3a3a;
  cursor: pointer;
  font-size: 0.929em;
  font-weight: normal;
  text-align: center;
  margin-bottom: 1em;
  margin-right: 0.6em; /* LTR */
  padding: 6px 17px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
a.button:link,
a.button:visited,
a.button:hover,
a.button:focus,
a.button:active {
  text-decoration: none;
  color: #5a5a5a;
}

#navigation {
  margin: 1em;
}

#main-menu li a {
  display: block;
  border-radius: 0.3em;
  background: #CCC;
  color: #FFF;
  padding: 0.3em;
}

#main {
  background: none repeat scroll 0 0 #FFFFFF;
  padding-top: 4em;
}

#main #content {
  margin-bottom: 1em;
}

.feed-icon {
  float: right;
}

#site-slogan {
  margin: 0;
  color: #999;
  font-size: 0.9em;
}

.front .node-folder .node-readmore {
  display: none;
}

.field-item .file {
  margin-right: 10px;
  width: 100%;
  margin-bottom: 1em;
  border-bottom: 1px #DDD solid;
}

.file_icon {
  width: 48px;
  height: 48px;
  float: left;
  padding-bottom: 0.5em;
  margin-right: 1em;
}
.file_icon a {
  width: 48px;
  height: 48px;
  background: url(../images/icons.png) 48px 48px scroll;
  display: block;
}

a.doc, a.docx, a.rtf {
  background-position: 0px 0px;
}

a.xls, a.xlsx {
  background-position: 144px 0px;
}

a.ods, a.csv {
  background-position: 0px 0px;
}

a.pdf{
  background-position: 96px 96px;
}

a.txt{
  background-position: 96px 144px;
}

a.jpg, a.jpeg, a.gif, a.png, a.bmp, a.psd, a.ai, a.svg, a.cad {
  background-position: 96px 48px;
}

a.zip, a.tar, a.rar, a.gz {
  background-position: 48px 144px;
}

.front .node-folder h2 a {
  padding-left: 58px;
  height: 48px;
  display: block;
  background: url(../images/folder.png) no-repeat;
}

.file .description {
  display: table-cell;
  color: #888;
  font-size: 0.9em;
  padding-bottom: 1em;
}

.page-node .book-navigation ul.menu {
  padding: 0px;
  margin: 0px;
  border-top: none;
}

.page-node .book-navigation .page-links {
  border: 0px;
}

.page-node .book-navigation li {
  background: url("../images/folder.png") no-repeat scroll 0 0 transparent;
  display: block;
  height: 48px;
  list-style-type: none;
  margin: 0;
  padding: 16px 0 0 58px;
  border-bottom: 1px #DDD solid;
}
